  <div class="wrapper">
       <header>
         <nav>
           <div class="menu-icon">
             <i class="fa fa-bars fa-2x"></i>
            </div>
             <div class="menu">
               <ul>
                <li><a href="/home"> Home </a></li>

                {{#if user}}
                <li><a href="/profile/index"> Profile </a></li>
                <li><a href="/logout"> Log Out</a></li>
                {{else}}
                <li><a href="/signup">Sign Up</a></li>
                <li><a href="/login">Log In</a></li>
                {{/if}}
                
                </ul>
              </div>
          </nav>
           <div class="logo">
              <h1>LAND ME A HAND</h1>
              </div>
        </header>
      </div>



<h2 style="text-align: center;">Edit Profile</h2>

{{#with user}}

<div class="profile-form">
<form action="/profile/{{ this._id }}/edit" method="POST" enctype="multipart/form-data">

  <label for="email">Email:</label> 
  <input id="email" type="text" name="email" value="{{this.email}}">

  <label for="firstName">Name:</label> 
  <input id="firstName" type="text" name="firstName" value="{{this.firstName}}">

  <label for="lastName">Last Name:</label> 
  <input id="lastName" type="text" name="lastName" value="{{this.lastName}}">
  
  <label for="location">Location:</label> 
  <input id="location" type="text" name="location" value="{{this.location}}">

  {{!-- <label for="language">Spoken Languages:</label> 
  <input id="language" type="text" name="language" value="{{this.language}}"> --}}
  
  <label for="image">Profile Picture:</label>
  <input id="image" type="file" name="image">

  <button type="submit">Save</button>
</form>

</div>


{{/with}}

