
{{#with user}}
<h3>Welcome to your profile </h3>

<div class="profile">

 <img style="width: 200px;" src="{{this.imagePath}}" class="profile__image"/>
<div class="profile__name">{{this.firstName}} {{this.lastName}}</div>
<div class="profile__email">Email: {{this.email}}</div>
<div class="profile__location"> {{this.location}}</div>

</div>

<button><a href="/profile/{{ this._id }}/edit">Edit Profile</a></button>
{{/with}}