<button><a href="/offers/index">Back</a></button>
<button><a href="/logout">Logout</a></button>

{{#with request}}

  <p>{{this.title}}</p>
  {{#with owner}}
  <p>{{this.username}}</p>
  <img style="width: 200px;" src="{{this.imagePath}}"/>
  {{/with}}
  <p>{{this.description}}</p>
  <p>{{this.location}}</p>
  <p>{{this.date}}</p>


  <form>
<input type="button" value="Contact" onClick="location.href='mailto:{{userFromDB.mail}}'">
</form>

{{/with}}

{{!-- shows a button to contact the help seeker and by clicking it, the button will say "pending" or something like "undo" ? --}}


{{!-- window.open('mailto:test@example.com?subject=subject&body=body'); --}}