<button><a href="/offers/index">Back</a></button>


{{#with request}}

  <p>{{this.title}}</p>
  {{#with owner}}
  <p>{{this.username}}</p>
  <img style="width: 200px;" src="{{this.imagePath}}"/>
  {{/with}}
  <p>{{this.description}}</p>
  <p>{{this.location}}</p>
  <p>{{this.date}}</p>

<form>
<input type="button" value="Contact" onClick="location.href='mailto:{{userFromDB.mail}}'">
</form>

{{/with}}