
<div id="location">
{{!-- <button class="sort" data-sort="location">Filter for Location</button> --}}
<label for="location">Filter for Location</label> 
<input  class="search" type="text">

  {{!-- <select name="location">
    {{#each requests}}
    <option value="" id="">{{this.location}}</option>
     {{/each}}
  </select> --}}


<ul class="list">
  <li>
{{#each requests}}

  <p>{{this.title}}</p>
  <img style="width: 200px;" src="{{this.imagePath}}"/>
  <p class="location">{{this.location}}</p>
  <p>{{this.date}}</p>

  <button><a href="detailedView/{{this._id}}">See Details</a></button>

{{/each}}
</li>
</ul>

</div>

{{!-- here we can implement the map  --}}