<a href="#">Filter</a>
<a href="#">Sort</a>
<a href="#">View All</a>
<button><a href="/home">Back</a></button>
<button><a href="/logout">Logout</a></button>

{{#each requests}}

  <p>{{this.title}}</p>
  {{!-- <p>{{this.description}}</p> --}}
  <p>{{this.location}}</p>
  <p>{{this.date}}</p>

  <button><a href="detailedView/{{this._id}}">See Details</a></button>

{{/each}}

{{!-- here we can implement the map  --}}