
<div class="wrapper">
       <header>
         <nav>
           <div class="menu-icon">
             <i class="fa fa-bars fa-2x"></i>
            </div>
             <div class="menu">
               <ul>
                <li><a href="/home"> Home </a></li>
                <li><a href="/profile/index"> Profile </a></li>
                <li><a href="/logout"> Log Out</a></li>          
                </ul>
              </div>
          </nav>
          <div class="logo">
              <h1>LAND ME A HAND</h1>
              </div>
        </header>
      </div>

  <div class="cardBody">
    <div class="container">

{{#each requests}}
      <div class="card">
        <div class="face face1">
          <div class="content">
            <h3>{{this.title}}</h3>
          </div>
        </div>
        <div class="face face2">
          <div class="content"> 
            {{!-- <p>{{this.description}}</p> --}}
            <p>{{this.location}}</p>
            <p>{{this.date}}</p>

            <a href="detailedView/{{this._id}}">See Details</a>
          </div>
        </div>
      </div>

{{/each}}
    </div>
  </div>
    

{{!-- here we can implement the map  --}}